In [6]:
# import all libraries
import numpy as np
import pandas as pd
import os

In [8]:
os.getcwd()
os.path.exists("/Users/zeinab/Downloads/Project1_data")

True

In [51]:
#all datasets
all_files_name = ["R98.xlsx", "R99.xlsx", "R1400.xlsx", "R1401.xlsx", "U98.xlsx", "U99.xlsx", "U1400.xlsx", "U1401.xlsx"]
path_data = "/Users/zeinab/Downloads/Project1_data/"
Year = "R98"

In [60]:
#Read all sheets for a Year
data = pd.read_excel(path_data + all_files_name[0], Year + 'Data')
P1 = pd.read_excel(path_data + all_files_name[0], Year + 'P1')
P2 = pd.read_excel(path_data + all_files_name[0], Year + 'P2')
P3S01 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S01')
P3S02 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S02')
P3S03 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S03')
P3S04 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S04')
P3S05 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S05')
P3S06 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S06')
P3S07 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S07')
P3S08 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S08')
P3S09 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S09')
P3S11 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S11')
P3S12 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S12')
P3S13 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S13')
P3S14 = pd.read_excel(path_data + all_files_name[0], Year + 'P3S14')
P4S01 = pd.read_excel(path_data + all_files_name[0], Year + 'P4S01')
P4S02 = pd.read_excel(path_data + all_files_name[0], Year + 'P4S02')
P4S03 = pd.read_excel(path_data + all_files_name[0], Year + 'P4S03')
P4S04 = pd.read_excel(path_data + all_files_name[0], Year + 'P4S04')

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18430 entries, 0 to 18429
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         18430 non-null  int64
 1   MahMorajeh      18430 non-null  int64
 2   Fasl            18430 non-null  int64
 3   weight          18430 non-null  float64
 4   khanevartype    18430 non-null  int64
 5   Takmil          18430 non-null  int64
 6   TakmilDescA     0 non-null      float64
 7   TakmilDescB     3480 non-null   float64
 8   TakmilDescC     25 non-null     object
 9   Jaygozin        3480 non-null   float64
 10  JaygozinDescA   0 non-null      float64
 11  JaygozinDescB   0 non-null      float64
 12  JaygozinDescC   0 non-null      float64
 13  BlkAbdJaygozin  3480 non-null   float64
 14  RadifJaygozin   3480 non-null   float64
 15  province        18430 non-null  object
 16  town            18430 non-null  int64
dtypes: float64(9), int64(6), object(2)
memory usage: 2.4+ MB

# Question 1

In [63]:
P1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64296 entries, 0 to 64295
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         64296 non-null  int64
 1   member          64296 non-null  int64
 2   relation        64296 non-null  object
 3   gender          64296 non-null  object
 4   age             64296 non-null  int64
 5   literacy        58057 non-null  object
 6   studying        45177 non-null  object
 7   degree          45177 non-null  object
 8   occupationalst  53608 non-null  object
 9   maritalst       53609 non-null  object
dtypes: int64(3), object(7)
memory usage: 4.9+ MB

In [ ]:
P1[["degree","age"]]
# len(P1_test.literacy[ P1_test.literacy.isna()])

In [130]:
P1_test = P1[["Address", "relation", "age", "degree", "occupationalst"]]

In [ ]:
P1_test.literacy.head(40)

In [133]:
P1_test.shape

(64296, 5)

In [131]:
len(P1_test.age[P1_test.age < 6])

6212

In [129]:
P1_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6212 entries, 32 to 64287
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         6212 non-null   int64
 1   relation        6212 non-null   object
 2   age             6212 non-null   int64
 3   literacy        6212 non-null   object
 4   studying        0 non-null      object
 5   degree          0 non-null      object
 6   occupationalst  0 non-null      object
dtypes: int64(2), object(5)
memory usage: 388.2+ KB

In [141]:
df = P1_test[P1_test.age < 6]
df.degree.fillna("illiterate", inplace=True)
df.occupationalst.fillna("Other",inplace=True)

/var/folders/7y/37m2bn3d6y778v332m4hd77c0000gn/T/ipykernel_45152/3478443372.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.degree.fillna("illiterate", inplace=True)
/var/folders/7y/37m2bn3d6y778v332m4hd77c0000gn/T/ipykernel_45152/3478443372.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.occupationalst.fillna("Other",inplace=True)

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6212 entries, 32 to 64287
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         6212 non-null   int64
 1   relation        6212 non-null   object
 2   age             6212 non-null   int64
 3   degree          6212 non-null   object
 4   occupationalst  6212 non-null   object
dtypes: int64(2), object(3)
memory usage: 291.2+ KB

In [147]:
# find all age < 6 and fill the null cells
dele = P1_test[P1_test.age < 6]
dele = P1_test[((P1_test.age < 6))].index
P1_test = P1_test.drop(dele)
P1_test = pd.concat([P1_test, df])

In [150]:
P1_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64296 entries, 0 to 64287
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         64296 non-null  int64
 1   relation        64296 non-null  object
 2   age             64296 non-null  int64
 3   degree          51389 non-null  object
 4   occupationalst  59820 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.9+ MB

In [155]:
P1_test.degree.value_counts()

Elemantry     21647
Secondary     10061
Diploma        6953
illiterate     6212
HighSchool     2439
Bachelor       2356
College         968
Other           400
Master          341
PhD              12
Name: degree, dtype: int64

In [160]:
P1_test[P1_test.degree.isna()].describe()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/formatters.py", line 221, in catch_format_error
    r = method(self, *args, **kwargs)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/formatters.py", line 342, in __call__
    return method()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/core/frame.py", line 1106, in _repr_html_
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/format.py", line 1110, in to_html
    When formatting an Index subclass
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 88, in to_string
    lines = self.render()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 644, in render
    super().render()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 94, in render
    self._write_table()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 267, in _write_table
    self._write_header(indent + self.indent_delta)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 403, in _write_header
    self._write_col_header(indent + self.indent_delta)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 383, in _write_col_header
    row.extend(self._get_columns_formatted_values())
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 611, in _get_columns_formatted_values
    return self.columns._format_flat(include_name=False)
AttributeError: 'Index' object has no attribute '_format_flat'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

            Address           age
count  1.290700e+04  12907.000000
mean   2.141166e+10     59.236616
std    8.974780e+08     17.695877
min    2.000138e+10      6.000000
25%    2.061446e+10     50.000000
50%    2.130654e+10     61.000000
75%    2.220462e+10     71.000000
max    2.300671e+10     99.000000

In [ ]:
P1_test[P1_test.degree.isna()]

In [161]:
P1_test.degree.fillna("Other",inplace=True)

In [162]:
P1_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64296 entries, 0 to 64287
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         64296 non-null  int64
 1   relation        64296 non-null  object
 2   age             64296 non-null  int64
 3   degree          64296 non-null  object
 4   occupationalst  59820 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.9+ MB

In [163]:
P1_test.occupationalst.value_counts()

employed       19290
Housewife      16485
Student         8602
Other           7430
IncomeWOJob     5398
unemployed      2615
Name: occupationalst, dtype: int64

In [167]:
P1_test[P1_test.occupationalst.isna()].describe()

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/formatters.py", line 221, in catch_format_error
    r = method(self, *args, **kwargs)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/formatters.py", line 342, in __call__
    return method()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/core/frame.py", line 1106, in _repr_html_
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/format.py", line 1110, in to_html
    When formatting an Index subclass
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 88, in to_string
    lines = self.render()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 644, in render
    super().render()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 94, in render
    self._write_table()
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 267, in _write_table
    self._write_header(indent + self.indent_delta)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 403, in _write_header
    self._write_col_header(indent + self.indent_delta)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 383, in _write_col_header
    row.extend(self._get_columns_formatted_values())
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/pandas/io/formats/html.py", line 611, in _get_columns_formatted_values
    return self.columns._format_flat(include_name=False)
AttributeError: 'Index' object has no attribute '_format_flat'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2057, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/IPython/core/ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/Users/zeinab/Documents/venv/lib/python3.9/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

            Address          age
count  4.476000e+03  4476.000000
mean   2.148921e+10     7.476765
std    8.797756e+08     1.102621
min    2.000138e+10     6.000000
25%    2.071347e+10     6.000000
50%    2.140655e+10     7.000000
75%    2.221063e+10     8.000000
max    2.300671e+10     9.000000

In [168]:
P1_test.occupationalst.fillna("Other",inplace=True)

In [169]:
P1_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64296 entries, 0 to 64287
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Address         64296 non-null  int64
 1   relation        64296 non-null  object
 2   age             64296 non-null  int64
 3   degree          64296 non-null  object
 4   occupationalst  64296 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.9+ MB

# Question 2

In [170]:
P2.keys()

Index(['Address', 'tenure', 'room', 'space', 'construction', 'material',
       'vehicle', 'motorcycle', 'bicycle', 'radio', 'radiotape', 'TVbw', 'TV',
       'VHS_VCD_DVD', 'computer', 'cellphone', 'freezer', 'refridgerator',
       'fridge', 'stove', 'vacuum', 'washingmachine', 'sewingmachine', 'fan',
       'evapcoolingportable', 'splitportable', 'dishwasher', 'microwave',
       'none', 'pipewater', 'electricity', 'pipegas', 'telephone', 'internet',
       'bathroom', 'kitchen', 'evapcooling', 'centralcooling',
       'centralheating', 'package', 'split', 'wastewater', 'cookingfuel',
       'heatingfuel', 'waterheatingfuel'],
      dtype='object')

In [172]:
P2_test = P2[["Address", "vehicle", "motorcycle", "bicycle"]]

In [175]:
P2_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18430 entries, 0 to 18429
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Address     18430 non-null  int64
 1   vehicle     18430 non-null  bool
 2   motorcycle  18430 non-null  bool
 3   bicycle     18430 non-null  bool
dtypes: bool(3), int64(1)
memory usage: 198.1 KB

# Question 4

In [177]:
P3S11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11269 entries, 0 to 11268
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Address    11269 non-null  int64
 1   code       11269 non-null  int64
 2   purchased  11269 non-null  int64
 3   value      11269 non-null  int64
dtypes: int64(4)
memory usage: 352.3 KB